$selectedColor: #f6f7ff;
$lighterBlue: #409eff;

.components-list {
  padding: 8px;
  box-sizing: border-box;
  .components-item {
    display: inline-block;
    width: 48%;
    margin: 1%;
    transition: transform 0ms !important;
  }
}
.components-draggable {
  padding-bottom: 20px;
}
.components-title {
  font-size: 14px;
  color: #222;
  margin: 6px 2px;
  .svg-icon {
    color: #666;
    font-size: 18px;
  }
}

.components-body {
  display: flex;
  align-items: center;
  height: 52px;
  padding: 8px 10px;
  background: $selectedColor;
  font-size: 12px;
  cursor: move;
  border: 1px dashed $selectedColor;
  border-radius: 3px;
  .i-icon {
    margin-right: 4px;
    svg {
      float: left;
    }
  }
  .svg-icon {
    color: #777;
    font-size: 15px;
    margin-right: 4px;
  }
  &:hover {
    border: 1px dashed #787be8;
    color: #787be8;
    .svg-icon {
      color: #787be8;
    }
  }
}

.left-board {
  width: 260px;
  height: calc(100vh - 42px);
  overflow-y: scroll;
}

.show-components {
  width: 260px;
}

.center-board {
  height: calc(100vh - 42px);
  // flex: 1;
  // 解决表格过宽，影响样式问题
  width: calc(100vw - 668px);
  border-left: 1px solid #f1e8e8;
  border-right: 1px solid #f1e8e8;
  box-sizing: border-box;
}
.empty-info {
  position: absolute;
  top: 46%;
  left: 0;
  right: 0;
  text-align: center;
  font-size: 18px;
  color: #ccb1ea;
  letter-spacing: 4px;
}

.logo {
  margin-left: 12px;
  margin-top: 6px;
  line-height: 30px;
  color: #ee722e;
  font-weight: 600;
  font-size: 17px;
  white-space: nowrap;
}

.center-board-row {
  height: 100%;
  & > .el-form {
    height: 100%;
  }
}
.drawing-board {
  height: 100%;
  position: relative;
  overflow: scroll;
  padding-bottom: 200px;
  &:first-child {
    margin-top: 10px;
  }
  .components-body {
    padding: 0;
    margin: 0;
    font-size: 0;
  }
  .sortable-ghost {
    position: relative;
    display: block;
    overflow: hidden;
    &::before {
      content: ' ';
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      height: 3px;
      background: rgb(89, 89, 223);
      z-index: 2;
    }
  }
  .components-item.sortable-ghost {
    width: 100%;
    height: 60px;
    background-color: $selectedColor;
  }
  .active-from-item {
    & > .el-form-item {
      background: $selectedColor;
      border-radius: 6px;
    }
    & > .drawing-item-copy,
    & > .drawing-item-tip,
    & > .drawing-item-delete {
      display: initial;
    }
    & > .component-name {
      color: $lighterBlue;
    }
  }
  .el-form-item {
    margin-bottom: 15px;
  }
}

$--item-border: 1px dashed rgba(0, 0, 0, 0.12);
$--item-border--active: 1px dashed $lighterBlue;

.drawing-item {
  position: relative;
  cursor: move;
  &.unfocus-bordered:not(.active-from-item) > div:first-child {
    border: $--item-border;
  }
  .el-form-item {
    padding: 12px 0;
  }
}

.card-header {
  min-height: 50px;
  padding-bottom: 20px;
  overflow: hidden;
}

.drawing-row-item {
  position: relative;
  cursor: move;
  box-sizing: border-box;
  border: $--item-border;

  border-radius: 3px;
  padding: 0 2px;
  margin-bottom: 10px;
  .drawing-row-item {
    margin-bottom: 2px;
  }
  .el-col {
    margin-top: 22px;
  }
  .el-form-item {
    margin-bottom: 0;
  }

  &.active-from-item::before {
    content: '';
    border: $--item-border--active;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
  }
  .component-name {
    position: absolute;
    top: 0;
    left: 0;
    font-size: 12px;
    color: #bbb;
    display: inline-block;
    padding: 0 6px;
  }
}
.drawing-item,
.drawing-row-item {
  margin-top: 10px;
  &:hover {
    & > .el-form-item {
      background: $selectedColor;
      border-radius: 6px;
    }
  }
  & > .drawing-item-copy,
  & > .drawing-item-tip,
  & > .drawing-item-delete {
    display: none;
    position: absolute;
    top: -10px;
    width: 22px;
    height: 22px;
    line-height: 22px;
    text-align: center;
    border-radius: 50%;
    font-size: 12px;
    border: 1px solid;
    cursor: pointer;
    z-index: 1;
  }
  & > .drawing-item-tip {
    right: 64px;
    border-color: #e6a23c;
    color: #e6a23c;
    background: #fff;
    &:hover {
      background: #e6a23c;
      color: #fff;
    }
  }
  & > .drawing-item-copy {
    right: 32px;
    border-color: $lighterBlue;
    color: $lighterBlue;
    background: #fff;
    &:hover {
      background: $lighterBlue;
      color: #fff;
    }
  }
  & > .drawing-item-delete {
    right: 0px;
    border-color: #f56c6c;
    color: #f56c6c;
    background: #fff;
    &:hover {
      background: #f56c6c;
      color: #fff;
    }
  }
}

.drawing-item .i-icon {
  margin-left: 34px;
}

.raw-item {
  float: left;
}
